@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .section-title {
    @apply uppercase pb-8 text-base
  }
  .section-body {
    @apply font-extralight text-gray-400  leading-relaxed

  }
  .about-link {
    @apply font-medium text-gray-300 hover:text-yellow-400 transition-colors duration-300 ease-in-out
  }

  /* Experience Section */
  .xp-date {
    @apply font-extralight text-xs text-gray-400
  }
  .xp-title {
    @apply font-medium text-gray-300 text-base pb-3 hover:text-yellow-400 transition-colors duration-300 ease-in-out
  }
  .xp-body {
    @apply font-extralight text-sm pb-5 leading-relaxed text-gray-400
  }
  .xp-skill{
    @apply bg-cyan-500/35 rounded-full px-3.5 py-1.5 me-2 text-cyan-500 font-medium text-xs
  }
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
